PRIVATE_KEY_BNB =
CONTRACT_ADDR =
PROVIDER_BNB_ENDPOINT =
TOKEN_BNB_ADDRESS =
WEBSOCKET_ALCHEMY = https://bnb-testnet.g.alchemy.com/v2/18xyEjT9a4ix212fI-Y8o
DATABASE_URL=postgres://postgres:1111@localhost:5432/solana_bridge
