PRIVATE_KEY_ETH = 
BRIDGE_EVM_ADDR = 
PROVIDER_ETH_ENDPOINT = HTTP://127.0.0.1:8550
TOKEN_ADDRESS = 
WEBSOCKET_ALCHEMY =
DATABASE_URL=postgresql://nick:1111@localhost:5432/bridge_db
GRPC_ADDRESS = http://127.0.0.1:10000
WEBSOCKET_EVM = ws://127.0.0.1:8547
REDIS_URL = redis://127.0.0.1:6379
JWT_SECRET=7f3c9a21b84e6d50a1c9f27e5b63d8a04f72c1e9
JWT_EXPIRY_HOURS = 10
ADMIN_KEYPAIR = 'generate in bridge app/for local testin'
EVM_INTERVAL = 
SOLANA_INTERVAL = 
HTTPS = on/off

sea-orm-cli migrate -u postgres://nick:1111@localhost:5432/bridge_db
sea-orm-cli generate entity -u postgres://nick:1111@localhost:5432/bridge_db -o src/entity