PRIVATE_KEY_ETH = 
BRIDGE_EVM_ADDR = 
PROVIDER_ETH_ENDPOINT = HTTP://127.0.0.1:8545
TOKEN_ADDRESS = 
WEBSOCKET_ALCHEMY =
DATABASE_URL=postgresql://nick:password@localhost:5432/bridge_db
GRPC_ADDRESS = http://127.0.0.1:10000
WEBSOCKET_EVM = ws://127.0.0.1:8545
ADMIN_KEYPAIR
EVM_INTERVAL = 
SOLANA_INTERVAL = 